Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [44]:
5*(5**2)+20.25/10-26.775

100.25

What is the type of the result of the expression 3 + 1.5 + 4?

In [6]:
type(3+1.5+4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [5]:
# square root:
100**0.5

10.0

In [3]:
# square :
25**2

625

STRINGS


Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [48]:
s = 'hello'
s[1]

'e'

Reverse the string 'hello' using slicing:

In [50]:
s[::-1]

'olleh'

Given the string 'hello', give two methods of producing the letter 'o' using indexing.

In [53]:
print(s[4])
print(s[-1])

o
o

LISTS


Build this list [0,0,0] two separate ways.

In [54]:
[0]*3

[0, 0, 0]

In [55]:
list2 = [0,0,0]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [56]:
list3 = [0,0,['Hi','hello']]
list3[2][1]='Goodbye'
list3

[0, 0, ['Hi', 'Goodbye']]

Sort the list below:

In [63]:
list4 = [5,3,4,6,1]

In [64]:
#sorted(list4) or
list4.sort()
list4

[1, 3, 4, 5, 6]

DICTONARIES


Using keys and indexing, grab the 'hello' from the following dictionaries:

In [65]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [69]:
d={'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

TUPLES

How do you create a tuple?

In [71]:
t = (1,2,3)
t

(1, 2, 3)

SET

Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [1]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

# Functions

Write a function that capitalizes first and fourth letter of string
    
    
    Example : macdonalds --> MacDonalds

In [7]:
def capital_func(string):
    first_letter = string[0]
    between_letters = string[1:3]
    fourth_letter = string[3]
    rest_letters = string[4:9]
    return first_letter.upper()+between_letters+fourth_letter.upper()+rest_letters
capital_func('macdonalds')

'MacDonald'

Given a scentence, return a scentence with words reversed


    Example : I am home --> home am I

In [17]:
def reverse_func(words):
    wordlist = words.split()
    reverse_words = wordlist[::-1]
    return ' '.join(reverse_words)
reverse_func('I am home')

'home am I'

Given an interger n, return true if n is within 10 of either 100 or 200

    
    almost_there(90)--> True
    almost_there(104)--> True
    almost_there(150)--> False
    almost_there(204)--> True

In [9]:
def almost_there(n):
    return (abs(100-n)<=10 or abs(200-n)<10)
almost_there()

TypeError: almost_there() missing 1 required positional argument: 'n'

Given a list with ints, return True if any of lists contains 3 next to a 3 somewhere


    has_33([1,3,3]) --> True
    has_33([1,2,3,4]) --> False
    has_33([3,1,3]) --> False

In [38]:
def has_33(num):
    
    for i in range(0,len(num)-1):
        if num[i] ==3 and num[i+2] == 3:
            return True        
    return False
has_33([1,3,1,3])

True

PaperRoll: Given a string, return a string where for every character in original there are 3 characters


    paper_doll('Hello') --> HHHeeelllooo
    paper_doll('John') --> JJJooohhhnnn

In [47]:
def paper_doll(string):
    result = ''
    for char in string:
        result += char*3
        #result = result+char*3
    return result
paper_doll('John')

'JJJooohhhnnn'

Given 3 integers between 1 and 11, if their sum is <=21, return sum. If their sum >= 21 and there's a eleven reduce the total sum by 10. Finally if the sum(even after adjustment) exceeds 21, return 'BUST'
    
        
            blackjack(5,6,7)  ---> 18
            blackjacj(9,9,9)  ---> 'BUST'
            blackjack(9,9,11) ---> 19

In [55]:
def blackjack(a,b,c):
    #sum_of_integers =  sum([a+b+c])
    if sum([a+b+c])<=21:
        return  sum([a+b+c])
    elif 11 in [a,b,c] and sum([a+b+c])>=21:
        return  sum([a+b+c])-10
    else:
        return 'BUST'
#blackjack(5,6,7)
#blackjack(9,9,9)
blackjack(9,9,11)

19

In [3]:
2**73-1

9444732965739290427391

In [6]:
3.2*10**(-12)

3.2e-12

In [9]:
print("Hello")

Hello

In [15]:
x = ' Hello'
len(x)

6